*.sdf
*.suo
*.opensdf
*.bak
*.opendb
*.VC.db
bin/
bin32/
media/editor/
feathergui/x64/
feathergui/Win32/
fgLayoutEditor/x64/
fgLayoutEditor/Win32/
fgLayoutEditor/res/
fgNull/x64/
fgNull/Win32/
fgTest/x64/
fgTest/Win32/
fgWinAPI/x64/
fgWinAPI/Win32/
fgSDL/x64/
fgSDL/Win32/
fgSDL/lib/
_hugo/