*.sdf
*.suo
*.opensdf
*.bak
*.opendb
*.vcxproj.user
*.csproj.user
*.VC.db
*.exe
*.aps
*.txt
*.log
/bin/
/bin32/
/media/editor/
/media/*.out.*
/feathergui/x64/
/feathergui/Win32/
/fgLayoutEditor/x64/
/fgLayoutEditor/Win32/
/fgLayoutEditor/res/
/fgDirect2D/x64/
/fgDirect2D/Win32/
/fgDirect2D/fgDirect2D_fgCircle.h
/fgDirect2D/fgDirect2D_fgRoundRect.h
/fgDirect2D/fgDirect2D_fgTriangle.h
/fgDirect2D/fgDirect2D_fgModulation.h
/fgTest/x64/
/fgTest/Win32/
/fgNative/x64/
/fgNative/Win32/
/bindings/fgDotNet/x64/
/bindings/fgDotNet/Win32/
/examples/c/x64/
/examples/c/Win32/
/examples/cs/obj/
/lib/
/.vs/

# Rust
bindings/fgRust/feathergui-sys/target/
