body {
  max-width: 1280px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0;
  font: 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FDFDFE;
}

nav li a, header, .button_green {
  user-select: none;           
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  -webkit-touch-callout: none;
}
nav {
  position:absolute;
  width:154px;
  background:#228899;
  color: #FDFDFE;
  border-right: solid 1px #006699;
  border-radius: 0 0 1em 1em;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 22em;
}
nav ul{
  padding: 0 0.5em;
}
nav li {
  list-style:none;
}
nav li a {
  display: block;
  padding: 0.7em 0.75em;
  text-decoration: none;
  color: #FDFDFE;
  border-radius: 1em;
}
nav li a:hover {
  color: #FFF;
  background:#4499AA;
}
nav li a:active {
  background:#117788;
}
nav li a:visited {
  color: #CCC;
}
main {
  position:relative;
  display:block;
  padding-left:154px;
  /*background: #CCEEEE;*/
  height: 100%;
}
header {
  display:inline-block;
  font-size:72px;
  letter-spacing: 4px;
  color: #FDFDFE;
  padding: 0 0.5em 0.1em 0.5em;
  background: #3399AA;
  border-radius: 0 0 50px 0;
  cursor: default;
}
footer {
  color: #999;
  /*color: #DDDDD9;
  background: #3399AA;*/
  border-radius: 0 2em 0 0; 
  font-size: 90%;
  text-align: center;
  padding: 0 0 0.75em 0;
}
section {
  position: relative;
  padding: 1em;
}
section h1 {
  font-size: 130%;
  letter-spacing: 1px;
}
aside {
  float: right;
}

.button_green {
	background-color: #34901a;	
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52B432), to(#2A7A01));
  background: -webkit-linear-gradient(#52B432, #2A7A01);
	background: -moz-linear-gradient(#52B432, #2A7A01);
	background: -ms-linear-gradient(#52B432, #2A7A01);
	background: -o-linear-gradient(#52B432, #2A7A01);
	background: linear-gradient(#52B432, #2A7A01);
	display: inline-block;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	border-top: 1px #72E452 solid;
	border-left: 1px #72E452 solid;
	text-align: center;
	line-height: 0.85em;
	position:relative;
  margin: 0 0 0 0.5em;
  font-size: 20px;
}
.button_green:hover {
	background-color: #55BA4a;	
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55BA4a), to(#34901a));
  background: -webkit-linear-gradient(#55BA4a, #34901a);
	background: -moz-linear-gradient(#55BA4a, #34901a);
	background: -ms-linear-gradient(#55BA4a, #34901a);
	background: -o-linear-gradient(#55BA4a, #34901a);
	background: linear-gradient(#55BA4a, #34901a);
}

.button_green:active {
	background-color: #34901a;	
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#34901a), to(#52B432));
  background: -webkit-linear-gradient(#34901a, #52B432);
	background: -moz-linear-gradient(#34901a, #52B432);
	background: -ms-linear-gradient(#34901a, #52B432);
	background: -o-linear-gradient(#34901a, #52B432);
	background: linear-gradient(#34901a, #52B432);
	border-top: 1px #3A6A0A solid;
	border-left: 1px #3A6A0A solid;
}
.button_green a {
  display: block;
	padding: 0.5em;
	color: #FFFFFA;
  text-shadow: -1px -1px 0 #3A6A0A;
  text-decoration: none;
}
.button_green p {
  margin: 0.5em 0 0 0;
  padding: 0;
  font-size: 80%;
	color: #DDDDD9;
}
.warning {
  display:inline;
  background: #CC2222;
  color: #FFFFFF;
  border-radius: 0.7em;
  padding: 0.15em 0.25em;
}